@import "tailwindcss";

@theme {
  --color-primary: #803d3b;
  --color-secondary: #1f1f1f;
  --color-primary-2: #f0eaea;
}

body {
  font-family: Manrope, Arial, Helvetica, sans-serif;
}

@layer base {
  .container {
    @apply px-4 sm:px-8 mx-auto;
  }
  .subtitle {
    @apply uppercase font-bold text-primary;
  }
}
